﻿<!DOCTYPE html>
<html ng-app="main">

<head>
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body ng-controller="homePageViewModel">
    <div class="container">
        <h2>Custom Yandex API translate</h2>
        <div class="form-group">
            <label for="en">English</label>
            <textarea class="form-control" rows="5" ng-model="englishText" id="en" autofocus></textarea>
            <label for="ru">Russian</label>
            <textarea class="form-control" rows="5" ng-model="russianText" id="ru" readonly></textarea>
            <button class="btn btn-default" ng-click="executeTranslate()">Translate</button>
        </div>
    </div>

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="App/App.js"></script>
</body>

</html>